{% extends 'layout.html' %}			

{% block page_content %}			

	{% for comics in comics_list %}
		<div class="single_comics_box">
		
			<div class="comics_title">
				<a href="{{ comics.get_absolute_url }}" class="comics_link"><h4>{{ comics.title }}</h4></a>
			</div>
		
			<a href="{{ comics.get_absolute_url }}" class="comics_picture_link">
				<img src="{{ comics.comics_picture_preview }}" />
			</a>
			
			<a href="{{ comics.get_absolute_url }}" class="comics_detailed_link">Подробнее</a>
		</div>
	
		<hr>
	{% endfor %}
			
{% endblock %}