{% extends 'layout.html' %}
{% load priton_templatetags %}

{% block extrahead %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/ajax_comics_loader.js"></script>
	<script type="text/javascript">
		document.addEvent('domready', function() {
			var AL_patients = new AjaxLoader({
      	load_button_id: 'patients_load_button',
      	item_class: 'content',
      	pages_class: 'patients_pages',
      	count: 8,
      	load_url: '/ajax_patients_loader/'
    	});
		});
	</script>
{% endblock %}

{% block title %}
	{% if is_doctors %}
		<title>Врачи</title>
	{% else %}
		<title>Пациенты</title>
	{% endif %}
{% endblock %}

{% block page_content %}

	<div class="patients_pages" id="page_1">
		{% include 'person.html' %}
	</div>

	<div class="center_block">
    	<a href="#" id="patients_load_button" style="text-decoration: none;">
    		<button class="inset large menu_button">
    			Еще
    		</button>
       </a>
    </div>

{% endblock %}			
